@inherits LayoutComponentBase

<div class="main-layout">
    <header>
        <NavMenu />
    </header>

    <main class="content">
        @Body
    </main>

    <footer>
        <h4> Made With &nbsp <i class="fa-solid fa-heart"></i> &nbsp By Bensalem Zouhir </h4>
    </footer>
</div>
