

<div class="about-me">
    <h1 class="title">About M<span>e</span></h1>
    <div class="border"></div>
    <img src="/Images/porfolioMain.jpg" class="picture" alt="Portfolio Main Image">
    <p class="description">
        Hello i'm Bensalem Zouhir 38 years old from Algeria , i am a full stack developer using ap.net core and desktop application developer using .net framwork , graduate from university as a pharmacist but programming is my hobby !!
    </p>
    <div class="verticalLine"></div>
</div>



@code {

}
